{% extends 'shop/shopindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/editoffer_post">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td>Product</td>
      <td><label>
               {{ val.product.product }}
      </label></td>
    </tr>
    <tr>
      <td>Offer price </td>
      <td><label>
        <input type="text" name="textfield" value="{{ val.offer_price }}"/>
      </label></td>
    </tr>
    <tr>
      <td>Start Date </td>
      <td><label>
                <input type="date" name="date" value="{{ date }}"/>

      </label></td>
    </tr>
    <tr>
      <td>End Date </td>
      <td><label>
               <input type="date" name="date" value="{{ date1 }}"/>

      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Edit" />
      </label></td>
    </tr>

  </table>
</form>
</body>
{% endblock %}
