{% extends 'admin/adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="\editroom_post">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <th>Floor</th>
      <td><label>
        <input type="text" name="textfield" value="{{ val.floor }}"/>
      </label></td>
    </tr>
    <tr>
      <th>Room.No  </th>
      <td><label>
        <input type="text" name="textfield2" value="{{ val.room_no }}"/>
      </label></td>
    </tr>
    <tr>
      <th>Dimension</th>
      <td><label>
        <input type="text" name="textfield3" value="{{ val.Dimention }}"/>
      </label></td>
    </tr>
    <tr>
      <th>Wifi</th>
      <td><label>
        <input type="text" name="textfield4" value="{{ val.Wifi }}"/>
      </label></td>
    </tr>
    <tr>
      <th>Status</th>
      <td><label>
        <select name="select" >
            <option {% if val.status == 'available' %}selected{% endif %}>Available</option>
            <option {% if val.status == 'not available' %}selected{% endif %}>Not Available</option>
        </select>
      </label></td>
    </tr>
    <tr align="center">
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Edit"  class="btn btn-outline-success"/>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
