{% extends 'admin/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/feedback_search">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td colspan="5"><b>Date</b>
        <label>
        <input type="date" name="date" value="{{ val1 }}" required/>
        <input type="submit" name="Submit" value="Search" class="btn btn-warning"/>
      </label></td>
    </tr>
    <tr>
      <th>Slno</th>
      <th>User</th>
      <th>Feedback</th>
      <th>Rating</th>
      <th>Date</th>
    </tr>
      {% for i in val %}
    <tr>
      <td> {{ forloop.counter }}</td>
      <td>&nbsp; {{ i.User.Name}}</td>
      <td>&nbsp;{{ i.feedback }}</td>
      <td>&nbsp;{{ i.rating }}</td>
      <td>&nbsp;{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
